 <%- include ('./partials/header') %>

<form action="/bookupdate" method="POST">
    <div class="cc">
    <h1>BOOK UPDATE</h1>
    
    <label for="bname">Book ID :</label>
    <input type="text" name="bname" id="bname" name="bname" /><br /><br />

    <label for="uname">Book Update :</label>
    <input type="text" name="uname" id="uname" name="uname" /><br /><br />

    <button class="xxx">Submit</button>
    </div>
</form>

<%- include ('./partials/footer') %>
