<%- include ('./partials/header') %>

<div class="ss">
    <a href="/booksearch"><button type="button" class="button">BOOK SEARCH </button></a>
    <a href="/bookissue"><button type="button" class="button">BOOK ISSUE</button></a>
</div>

<%- include ('./partials/footer') %>