.button{
    background-color: gold;
    border: none;
    color: white;
    width:180px;
    padding: 15px 32px;
    text-align: center;
    text-decoration:  none;
    font-size: 16px;
    
}
.rr {
    display: grid;
    grid-gap: 6px;
    margin: 0 auto;
}




@import url('https://fonts.googleapis.com/css?family=Quicksand|Satisfy&display=swap');
span {
  color:red;
  font-size: 18px;
  font-family: 'Satisfy', cursive;
}
select {
  padding: 5px;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}